# python >= 3.7.3
# conda install pytorch==1.1.0 torchvision==0.3.0 cudatoolkit=10.0 -c pytorch

mujoco-py==2.0.2.13

numpy==1.21.6
gym==0.12.5
protobuf==3.20.3
ray==1.6.0
python-dateutil==2.8.0
gtimer
tqdm



## conda install pytorch torchvision torchaudio cudatoolkit=11.1 -c pytorch-lts -c nvidia
